<style scoped>
  .arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .arrow div {
    width: 33px;
    height: 66px;
    background-color: #5C0426;
    font-size: 44px;
    text-align: center;
    font-weight: 100;
  }

  .arrow .right {
    border-radius: 50px 0px 0px 50px;
  }

  .arrow .left {
    border-radius: 0px 50px 50px 0px;
  }

  .recommended-restaurant .row {
    display: flex;
  }

  .recommended-restaurant .restaurants-carousel>div {
    align-items: center;
    display: flex;
    color: white;
  }

  .title {
    display: flex;
    position: relative;
  }

  .section-title {
    font-family: "Roboto Slab", "serif";
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
  }

  .section-title-link {
    font-family: "Roboto Slab", "serif";
    color: #5C0426;
    position: absolute;
    top: 25px;
    right: 35px;
    font-weight: 100;
  }
</style>

<div class="recommended-restaurant">
  <div class="container">
    <div class="row" class="title">
      <h2 class="section-title">Recommended Restaurants</h2>
      <h4 class="section-title-link">View all Restaurants</h4>
    </div>
  </div>
  <div class="container">
    <div class="row restaurants-carousel">
      <div>
        <div class="arrow">
          <div class="right">
            <span>
              &lsaquo;
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="col-xs-3 col-sm-3 col-md-3 restaurant-card">
          <app-restaurant-card></app-restaurant-card>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 restaurant-card">
          <app-restaurant-card></app-restaurant-card>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 restaurant-card">
          <app-restaurant-card></app-restaurant-card>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 restaurant-card">
          <app-restaurant-card></app-restaurant-card>
        </div>
      </div>
      <div>
        <div class="arrow">
          <div class="left">
            <span>
              &rsaquo;
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
