<style scoped>
  @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

  .horizontal-collapse {
    height: 70px;
  }

  .navbar-collapse.in {
    overflow-y: hidden;
  }

  .collapse {
    float: right;
  }

  .top-nav {
    background-image: linear-gradient(to right, #5C0426, #5C0317);
    height: 92px;

  }

  .top-nav,
  a.navbar-brand {
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  a.navbar-brand {
    font-size: 32px;
    line-height: unset;
    padding: 0px;
    color: white;
    font-weight: 900;
    margin-left: -20px;
    margin-right: 60px;
  }

  .navbar {
    /* display: flex; */
    background-image: linear-gradient(to right, #5C0426, #5C0317);
    width: 1200px;
    margin: auto;
    border: none;
    border-radius: 0px;
  }

  .navbar li a {
    color: white;
    font-family: 'Montserrat';
  }

  ul.nav a.active-menu-item {
    color: #FFCF27;
  }

  svg-icon.logo {
    /* height: 40px !important; */
    bottom: 9px;
    position: relative;
    right: -17px;
  }

  .dispatch-menu {
    padding: 0px 5px;
    border-radius: 27px;
    background-color: #520020;
  }

  @media screen and (max-width: 768px) {
    .navbar-default {
      width: 100%;
      margin: auto 10px;
    }

    .navbar-collapse {
      float: none;
    }
  }
</style>

<div ng-controller="CollapseDemoCtrl" class="top-nav">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="toggleHeader()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <svg-icon class="logo" src="../assets/delivery-truck.svg"
          [svgStyle]="{'width.px':100,'height':60,'fill':'rgb(255,255,255)','padding.px':1,'margin.px':3, 'position': 'relative', 'bottom.px': 5}">
        </svg-icon>
        Deliver
      </a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" [ngClass]="{'show': openMenu}"
      (click)="toggleHeader()">
      <ul class="nav navbar-nav">
        <li><a href="#">Food Delivery</a></li>
        <li><a class="active-menu-item" href="#">Courier Services</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Sign In</a></li>
        <li class="dispatch-menu"><a href="#">Become a Dispatcher</a></li>
      </ul>
    </div>
  </nav>
</div>
