<style scoped>
  .google-play {
    width: 265px;
  }

  .download-our-app {
    overflow: hidden;
    background-color: black;
    height: 589px;
    color: white;
    padding-bottom: 4em;
    margin-top: 4em;
    margin-bottom: 4em;
    font-family: "Montserrat", sans-serif;
  }

  .text-wrapper {
    width: 618px;
    position: relative;
    left: 180px;
    padding-top: 12em;
  }

  .text-wrapper p {
    font-size: 18px;
    margin-bottom: 3em;
  }

  .text-wrapper h1 {
    font-size: 50px;
  }

  .mobile-phone img {
    width: 400px;
  }

  .hamburger {
    position: absolute;
    right: -670px;
    height: 250px;
  }
</style>


<div class="download-our-app">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="mobile-phone">
          <img src="../../assets/mobile-phone.png" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="text-wrapper">
          <h1>Download Our App</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis
            nisl
            nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas
            elit.</p>
          <img class="google-play" src="../../assets/google-play-badge-en.png" alt="Get it on Google Play">
        </div>

      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="hamburger">
          <img src="../../assets/hamburger.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
