<style scoped>
  .how-it-works {
    background-color: #5C0426;
    margin-top: 3em;
    margin-bottom: 6em;
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .title {
    text-align: center;
    color: white;
    margin: 1em auto 2em;
  }

  .circle {
    background-color: white;
    border-radius: 50%;
    width: 156px;
    height: 156px;
    margin: auto;
  }

  .circle+h2,
  h1 {
    font-family: "Roboto Slab", "serif";
  }

  h2+p {
    font-size: 16px;
  }

  h2 {
    font-size: 24px;
  }

  .step {
    margin-bottom: 4em;
    padding-right: 3.5em;
    padding-left: 3.5em;
  }
</style>
<div class="how-it-works">
  <div class="container">
    <div class="row">
      <h1 class="title">How It works</h1>
      <div class="steps">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 step">
            <div class="circle"></div>
            <h2>Select Your Restaurant</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis
              nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet
              egestas elit.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 step">
            <div class="circle"></div>
            <h2>Select Your Desired Meal</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis
              nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet
              egestas elit.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 step">
            <div class="circle"></div>
            <h2>Get It Delivered Fast</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis
              nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet
              egestas elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
