<style>
  @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

  .horizontal-collapse {
    height: 70px;
  }

  .navbar-collapse.in {
    overflow-y: hidden;
  }

  .top-header {
    background-image: linear-gradient(to right, #5C0426, #5C0317);
    height: 92px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .navbar-brand {
    font-size: 32px;
  }

  .navbar {
    /* display: flex; */
    background-image: linear-gradient(to right, #5C0426, #5C0317);
    width: 1200px;
    margin: auto;
    border: none;
    border-radius: 0px;
  }

  .navbar li a {
    color: white;
    font-family: 'Montserrat';
  }

  ul.nav a.active-menu-item {
    color: #FFCF27;
  }

  @media screen and (max-width: 768px) {
    .navbar-default {
      width: 100%;
      margin: auto 10px;
    }
  }
</style>
<div ng-controller="CollapseDemoCtrl" class="top-header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="toggleHeader()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <object type="image/svg+xml" data="../assets/delivery-truck.svg" class="logo">
        </object>
        <!-- <img src="../assets/delivery-truck.svg" alt=""> -->
        Deliver
      </a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" [ngClass]="{'show': openMenu}"
      (click)="toggleHeader()">
      <ul class="nav navbar-nav">
        <li><a href="#">Food Delivery</a></li>
        <li><a class="active-menu-item" href="#">Courier Services</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Become a Dispatcher</a></li>
      </ul>
    </div>
  </nav>
</div>
