<style scoped>
  .testimonials {
    padding-bottom: 4em;
    margin-top: 14em;
    margin-bottom: 14em;
    font-family: "Montserrat", sans-serif;
  }

  .testimonials p {
    text-align: center;
  }

  .portrait {
    background-color: rgb(90, 84, 84);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
  }

  .row h1 {
    text-align: center;
    margin-top: 1em;
    color: #5C0426;
  }

  .testimonial-text {
    font-size: 18px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    line-height: 36px;
  }

  .customer-name {
    font-size: 28px;
  }

  .wrapper img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90px;
    height: 78px;
    position: relative;
    top: 61px;
    left: -86px;
  }

  .wrapper {
    margin-right: 6em;
  }
</style>

<div class="testimonials">
  <div class="container">
    <div class="row">
      <h1>What Users Are Saying About BoxIt</h1>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="wrapper">
          <img src="../../assets//big-apostrophe.png" alt="">
          <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget
            justo justo.
            Ut vehicula nisl at nisl finibus, in fermentum dui ultricies. Aenean magna lectus, tempus nec augue at,
            laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit, sed ultricies risus</p>
          <div class="portrait"></div>
          <p class="customer-name">Customer Name</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="wrapper">
          <img src="../../assets//big-apostrophe.png" alt="">
          <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget justo justo.
            Ut vehicula nisl at nisl finibus, in fermentum dui ultricies. Aenean magna lectus, tempus nec augue at,
            laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit, sed ultricies risus</p>
          <div class="portrait"></div>
          <p class="customer-name">Customer Name</p>
        </div>
      </div>
    </div>
  </div>
</div>
