<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,500,700");

  .intro-after-header {
    margin-top: 4em;
    margin-bottom: 10em;
  }

  .intros-wrapper {
    /* width: 1220px; */
  }

  .intro {
    display: flex;
  }

  .intro>div {
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: "Roboto Slab", "serif";
    font-weight: 300;
  }
</style>


<div class="intro-after-header">
  <div class="container">
    <div class="row intros-wrapper">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="intro">
          <img src="../../assets/store.png" alt="">
          <div class="text">
            <p>Over 500<br> restaurants</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="intro">
          <img src="../../assets/take-away.png" alt="">
          <div class="text">
            <p>Over 2000<br> deliveries made</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="intro">
          <img src="../../assets/group.png" alt="">
          <div class="text">
            <p>Over 500<br> registered customers</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
